header .container {
	background-color: #fff
}
.ads_ads{
	text-align:center;
	padding: 15px 0 15px 0;
}
@media screen and (max-width: 500px) {
    .ads_1,.ads_3,.ads_2,.ads_cop,.ads_4{
    	visibility: hidden;
    	display: none;
    }
}
@media screen and (min-width: 499px) {

    .ads_article_2,.ads_article_1,.ads_article_3,.ads_article_4{
    	visibility: hidden;
    	display: none;
    }
}


@media screen and (max-width: 350px) {
    .ad_360{
    	visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none
    }
}
@media screen and (min-width: 992px) {
	#SC_TBlock_125664 {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none
	}
	.mobile_ads_only {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none
	}
	.row {
		margin: 0
	}
	
}

@media screen and (max-width: 992px) {
	#taboola-below-article-thumbnails {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none
	}
	#rightbar {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none
	}
	#topbanner {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none
	}
}

@media ( max-width : 991px) {
	.footer-v1 .copyright,.footer-v1 .footer-socials {
		text-align: left
	}
}

strong a {
	color: #eee
}

small,.small {
	font-size: 85%
}

.print-btn {
	display: none
}

.center-aligned.tutorial-menu {
	display: none
}

.footer-v1 p,.footer-v1 .address,.footer-v1 .phone,.footer-v1 .email {
	color: #fff
}

.footer-v1 .footer .headline h2 {
	text-shadow: none;
	margin-bottom: 35px !important
}